[2020-07-26 12:53] georgehristov commented on #662
The logic is for sub-scoping and this devs should be able to achieve inline as well.
[code]
When adding it should save type invoice as it is now.

- huge BC-break
- introduces second slightly different way of sub-scoping which will cause confusion. How to define the difference between `addCondition` when it is definite and `addEqualToSystemCondition` (or however we call it)?

[2020-07-26 13:05] mvorisek commented on #662
as addEqualToSystemCondition will call addCondition, it behaves 1:1, only with addEqualToSystemCondition there will be side effect of system/default on related field

everything other stays, conditions are not definitive, like now, do basically whatever you want ;-)

[2020-07-27 10:13] georgehristov commented on #662
I agree with you.
We can add BC support purely in `Model::addCondition` method.
Question remains about the name. I would say `Model::addSystemCondition`

[2020-07-27 10:25] mvorisek commented on #662
this and the sensetence below are two different things, right? :) `addCondition` should not support this, you have to explictly use the special method

Something liek that, I tried to stress is MUST ALWAYS BE with `=` operator and we will support only `$field, $value` signature

for data/ui, we can dump first which functions/usages were using this

[2020-07-27 14:06] georgehristov commented on #662
Solution with a method in Model does not work as this needs to be triggered on model change (in case of clones or copying of scopes).

I believe the best and cleanest solution is:
- lock negation on scopes once model assigned
- on change of model check if condition is definitive (has '=' scalar value + all parent scopes are AND) and then set field default value and as system field
- remove RootSco

[2020-07-27 14:21] mvorisek commented on #662
absolutely not - you use `addEqualsToSystemCondition` and it sets immediatelly, very predictable and fully controlled

[2020-07-28 11:35] mvorisek opened #682 "Duplicating non-stable field expr. in query - is completely wrong and can produce wrong results"
Of course, I am thinking about optimal data modelling, not about implementation. Implementation is always possible.

that is the same as with Union - we need universal nesting support from Model which could result in join, union, wrap.

The current design is actually completely wrong as presented a few days ago:
Imagine field with expr `RAND() > 0`. This field is currently rendered multiple like:

[2020-07-30 17:41] DarkSide666 commented on #682
This is important to think about and also this is not that simple to change and fix. That's because there can be anything in expression field. It can be subquery, some fieldname, function call etc.

What resulting select you would like to see instead of this ?
[code]

[2020-07-30 17:55] mvorisek commented on #682
[code]

should ALWAYS be queried like
[code]

non trivial fields (or to be precise fields that are non-constant and not using constant functions) that are used multiple times must be firstly selected and then reused/conditioned using HAVING

sql render using nesting is wrong, we must render to some intermediate form and then build sql once

[2020-07-30 18:34] DarkSide666 commented on #682
Nested queries should be much more faster that using `having` which executes on full result-set.
On other hand, in some cases (like mentioned above) using `having` is a solution.

But again, it will perform much slower. For example, this simple case:
[code]
This is probably faster than using `having` in case we have millions of employees.

Even more complexity shows up if we use both - `where` and

[2020-07-30 18:36] mvorisek commented on #682
@DarkSide666 this should use join if 1:1, if 1:N, your query will fail (bacause subquery will return more than 1 row)

MySQL and other DBs like Oracle or MSSQL engines can probably optimize some HAVING clauses the same like subqueries

nested conditions - you must query data and then you can use constant functions/junctions/operators like you want

[2020-07-30 18:37] DarkSide666 commented on #682
Yes, this example is for simple `hasOne` case and standard title_field.

[2020-07-31 11:11] georgehristov opened #689 "Rename Persistence\Array_ to Persistence\Memory"
Using `Persistence\Memory` or `Persistence\Variable` is more logical as to 'where' the data is saved not 'in what format' (e.g `Persistence\Sql` being `Persistence\Table`)
Good side-effect is we will not use php reserved word for the class name.

We can then introduce `Persistence\Session extends Persistence\Memory`.
I think no need to explain what it will do. This is the benefit of explicit names

[2020-08-18 13:07] mvorisek commented on #689
Hmm, I am quite ok with Array as array/hash table is the backend

Memory is ok with me, but breaking... definitely not `Persistence\Variable`

[2020-08-23 22:04] mvorisek commented on #523
checked, probably no action is needed

[2020-08-23 22:04] #523 closed

[2020-08-28 08:51] mvorisek opened #699 "Drop Persistence\Array_ in favor of Sqlite in memory (full SQL) backend"
if benchmark of Sqlite with memory backend can show, that Sqlite in memory database is fast enought, I propose to drop array/hash table backend completely because:
- limited functionality vs Sql
- much easier repo maintanance
- [ ] sql table created from model

possible disadvantages:
- [ ] performance

/cc @DarkSide666 @georgehristov please provide feedback

[2020-08-28 08:51] mvorisek commented on #689
Closing this issue because of feedback from @DarkSide666

more feedback from my side:
- in PHP8, we can use `Array` because of https://wiki.php.net/rfc/namespaced_names_as_token
- `Persistence\Memory` is not a good name because `memory` is reserved Sqlite backend name
- https://github.com/atk4/data/issues/699

[2020-08-28 08:51] #689 closed, assigned to nobody

[2020-08-28 09:01] georgehristov commented on #699
I have implemented Sqlite and tested the performance and it is much slower compared to Array_ (something in the region of 10x).
But it can be useful in some cases like new values to model scope validation

[2020-08-28 09:07] mvorisek commented on #699
10x may be fully ok, as we usually do not initialize with large arrays or calls milion times per request, the real performance difference might be almost unmeasureable, also, the difference may come from not optimally implemented DSQL

[2020-08-28 20:58] PhilippGrashoff commented on #699
Hi,

I quite like Array persistence for writing simple tests. No setup of Sqlite is needed. If a DB setup is needed even for the simplest stuff, we might create a barrier for newbies. With Array Persistence, we could create some pseudo demos which run purely on PHP. And yes, everyone uses a real DB anyway, yet I find it handy.
Also, Array Persistence allows to easily add some persistence for model

[2020-08-28 21:02] mvorisek commented on #699
this will be the same, ie. no setup, only all SQL functionality :)

[2020-08-28 21:04] PhilippGrashoff commented on #699
So this means that every OS has SQLite preinstalled? didnt know about that.

[2020-08-28 21:05] mvorisek commented on #699
yes, sqlite php extention is bundled with php and enabled almost everywhere - check your phpinfo :)

[2020-08-31 15:59] DarkSide666 commented on #699
My only objection is performance and it should be measured for bigger arrays too. For small ones performance probably will be close to equal.

[2020-09-01 18:07] PhilippGrashoff commented on #699
What I also really like about Array_ is that you do not have to set up a table first, this can be pretty handy. I guess you'd have to do this first using sqlite::memory:?

[2020-09-01 18:09] mvorisek commented on #699
of course, this will be drop in impl, ie. table will be created by the `Array_` replacement

[2020-09-01 18:13] PhilippGrashoff commented on #699
Ok, I want to test this :) Did a quick test replacing array with something I thought fitting, unfortunately it does not work. Any demo code available?
That was my quick try, just replacing Array_ Persistence:
[code]

[2020-09-01 18:15] mvorisek commented on #699
not implemented yet, feel free to test/create DB usign https://github.com/atk4/schema first

[2020-09-01 18:31] georgehristov commented on #699
I have working code for this, will try to allocate time later this week to publish

[2020-09-01 18:38] PhilippGrashoff commented on #699
that would be great. Just stumbled across a limitation of Array_ in writing tests yesterday :)

[2020-09-02 14:22] mvorisek opened #702 "Update doc - Convert Model to Entity (prevent reload with a different record)"
update doc for https://github.com/atk4/data/pull/697

[2020-09-02 18:20] mvorisek opened #704 "Fix PostgreSQL tests"
a lot of tests are failing, but mainly because the `unsigned` kw is not supported:
![image](https://user-images.githubusercontent.com/2228672/92021200-b606e980-ed59-11ea-95b1-22ca7b0283f6.png)

fix in schema

[2020-09-02 18:20] mvorisek opened #705 "Fix PostgreSQL tests"
a lot of tests are failing

[2020-09-02 18:22] mvorisek commented on #704
if possible, make the test throwing on error (remove `continue-on-error: true`:https://github.com/atk4/data/blob/557ef5fd2be4dc10f5bf277eefc60e2e858a6be1/.github/workflows/unit-tests.yml#L85

[2020-09-07 17:45] mvorisek opened #714 "PostgreSQL - sequence must work on concurent mixed (/w/wo ID) inserts"
I think, when ID is not set, we can insert like `INSERT INTO t (id, c, ...) VALUES (xx, c_val, ...)`

where `xx` can be something like `select max(id, seq.nextval)` instead
https://github.com/atk4/data/blob/8f03b553d16f9fc67a3a7880937fe66b940ba007/src/Persistence/Sql.php#L939-L945

note: As PK is unique, this should throw an duplicate PK now, thus not corrupt data.

[2020-09-07 17:49] #705 closed, assigned to nobody

[2020-09-11 09:43] mvorisek commented on #714
fixed in https://github.com/atk4/data/pull/706/files#diff-6e9436d72e2ce152974342a9b3615932R975

[2020-09-14 14:04] mvorisek commented on #714
the same for Oracle `lastInsertedId` which is now implemented using non-concurrent/locked `select max()...`

https://github.com/atk4/data/blob/8f03b553d16f9fc67a3a7880937fe66b940ba007/src/Persistence/Sql.php#L921-L931

[2020-09-19 08:25] mvorisek commented on #341
@georgehristov ping

[2020-09-19 08:25] #282 closed

[2020-09-19 08:26] mvorisek commented on #455
@georgehristov ping

[2020-09-19 08:27] #635 closed, assigned to georgehristov

[2020-09-19 08:28] mvorisek commented on #283
I fixed this, we do not bind null anymore, we render simply `NULL` into the SQL, issue was also with MSSQL

[2020-09-19 08:28] #283 closed

[2020-10-05 06:46] georgehristov commented on #341
This is an old issue and I believe already addressed with latest PRs on Scope / link traversing

[2020-10-05 06:51] mvorisek commented on #341
yes, closing, and never allow `client_id.name` (traverse on _id field)

API stability issues comes from a) not using industry standard principes/tools, b) not refactorable code/string. So do everything we can to satisfy both, otherwise do not introduce any new functionality, as it will change sooner or later...

[2020-10-05 06:51] #341 closed

[2020-10-13 18:34] PhilippGrashoff commented on #699
wanted to share some simple code which does add the tables for defined models. Could be added to AtkPhpunit\Testcase:

[code]

[2020-10-13 19:20] mvorisek commented on #699
we need strict types first - https://github.com/atk4/data/pull/727

then we should use DBAL for migration (like https://github.com/doctrine/dbal/blob/2.11.x/tests/Doctrine/Tests/DBAL/Functional/Schema/MySqlSchemaManagerTest.php#L136 - we should generate DBAL Table / Columns from Model)

then benchmark/migrate to sqlite

[2020-12-01 19:19] DarkSide666 commented on #472
`idn_to_ascii` is PHP function https://www.php.net/manual/en/function.idn-to-ascii.php

I think this issue is to old and no more relevant. Closing.

[2020-12-01 19:19] #472 closed

[2020-12-01 19:28] DarkSide666 commented on #614
DNS check is disabled by default.

[2020-12-01 19:36] mvorisek commented on #614
post here where and we can close

[2020-12-01 19:40] DarkSide666 commented on #614
Here https://github.com/atk4/data/blob/develop/src/Field/Email.php#L26

But probably it would be good to be able to validate "always" (on save, load, set like it is now if set to true) and new option - validate dns only on insert, for example.

[2020-12-01 19:44] mvorisek commented on #614
I personally does not need it now, thus closing.

Yes, on insert will be good, but still non user input should probably not fail, thus I think the email validation should be triggered more by ui.

[2020-12-01 19:44] #614 closed, assigned to DarkSide666

[2020-12-01 20:17] DarkSide666 commented on #408
I can reproduce this issue.

[2020-12-01 20:36] DarkSide666 commented on #408
This is as expected. In your case you should use `never_save` instead of `never_persist`.

`never_save` - loads data (execute expressions), but do not save data
`never_persist` - don't load and don't save data. As result expression will not be executed because this field will not be loaded at all.

Testcase added in https://github.com/atk4/data/pull/792

[2020-12-02 10:16] #450 closed

[2020-12-02 10:16] #471 closed

[2020-12-02 10:44] #408 closed

[2020-12-07 21:35] mkrecek234 opened #798 "AppScopeTrait no longer working in model"
Wit recent develop branch compared to 2.3.1, AppScopeTrait does not work any longer with model but creates an error, see picture.

The previously working setup is as follows:
1) in MyApp::_construct I created a new $this->db = atk4\myapp\PersistenceSql which is just an extension of Persistence\Sql with "use AppScopeTrait;". I then do $this->db->setApp($this);
2) In my own model atk4\myapp\Model be

[2020-12-07 21:35] mkrecek234 opened #809 "AppScopeTrait no longer working in model"
Wit recent develop branch compared to 2.3.1, AppScopeTrait does not work any longer with model but creates an error, see picture.

The previously working setup is as follows:
1) in MyApp::_construct I created a new $this->db = atk4\myapp\PersistenceSql which is just an extension of Persistence\Sql with "use AppScopeTrait;". I then do $this->db->setApp($this);
2) In my own model atk4\myapp\Model be

[2020-12-08 16:35] bedengler opened #799 "Reverse join not saving"
Following situation:

Table 1 (contact_table):
contact_id (primary), tbl1_name, tbl1_address

Table_2 (additional_info_table):
additional_id (primary), additional_contact_id (relation), additional_content

Let's assume I have a contact table which is loaded always (Table 1).
I want to read, if there's an entry available from an additional table (Table 2). Table 2 always references to Table 1.

[co

[2020-12-08 16:42] bedengler commented on #799
Here's an example sql file with 2 tables adapted to above described scenario...
[join-example-table_2020-12-08.sql.zip](https://github.com/atk4/data/files/5660517/join-example-table_2020-12-08.sql.zip)

[2020-12-08 17:05] bedengler commented on #799
This is working, but just if there exists an entry in the "additional_info_table", otherwise the result is completely empty:
[code]

[2020-12-09 14:00] DarkSide666 commented on #799
What is `$this->'additional_info_table'` ? That's wrong. Should be just table name there without $this.

[2020-12-09 14:08] bedengler commented on #799
Ah sorry, I'm calling the function with a variable that's called like this...
So for the example it was missleading but in the real world application it works...

It's like
[code]

But you are absolutely right, $this->additional_info_table could be replaced with 'additional_table'

[2020-12-09 14:09] DarkSide666 commented on #799
First of all you have to:
1. understand what type of relationship it is. Is it 1:1 or 1:n?
2. I don't see any _reverse_ join situation here.
3. If relation is 1:n then your myModel will contain more than one record for one contact if you join multiple additional_contact_info records.
4. is it weak join (left join) or full join? It will save info in joined table only in case of full join.

So as re

[2020-12-09 14:18] DarkSide666 commented on #809
Not sure why it's like this, but you probably can use `Persistence::HOOK_AFTER_ADD` to set app on models right after they are added in persistence which already should have app set (if you do so).

[2020-12-09 14:50] mkrecek234 commented on #809
Hi @DarkSide666 I tried this, but no change:
[code]

Here is my complete setup again:
1) In Myapp::_construct
[code]

2) In my model:
[code]

[2020-12-09 16:42] mkrecek234 commented on #809
Just confirmed that it's unrelated to any model. Once you have a model with use AppScopeTrait, the second line fails in DynamicMethodTrait Line 161 since isset(_appScopeTrait) returns true, but $this->getApp() is null.
`
 public function hasGlobalMethod(string $name): bool
    {
        return isset($this->_appScopeTrait)
        && isset($this->getApp()->_hookTrait)
        && $this->getApp()->ho

[2020-12-09 17:12] bedengler commented on #799
It's a 1:1 and it doesn't need the "on" I realised in the meanwhile.
Yes, I need full join and to save / add an entry.
This...
[code]
works as well...BUT:

I have loaded the model with join on a CRUD. Works basically until I try to make a new entry. It doesn't save the entry at all and the error message says: "atk4\data\Exception [code: 404]: Record was not found " which is very strange...and the

[2020-12-09 19:44] DarkSide666 commented on #799
That's strange. Do you add some fields from joined table in model too?

Asking because one thing I can imagine is that it actually tried to insert record in parent table, but for some reason didn't insert respective record in child table. Maybe because you have not added a single field from child table into model. As result when model is trying to load back this newly inserted record it's not foun

[2020-12-09 21:54] bedengler commented on #799
Yes, I'm also adding fields from the joined table.
Ok, here is my full code that produces this behaviour incl. database. I hope you can work with that!?

[joinTest.zip](https://github.com/atk4/data/files/5668957/joinTest.zip)

I'm currently experimenting with a workaround using a hook.
Every time the main model gets an insert, the hook makes a new entry in the additional table.
But of course it wo

[2020-12-09 22:16] bedengler commented on #799
This does the trick, although it's less elegant.
I put it within AdspacesAdDetailAllModel
[code]
Now everything works as expected...everytime when I'm generating a new entry, the other table gets also a new entry

[2020-12-10 14:17] DarkSide666 commented on #799
Yes with a hook it works, but that's what atk4/data should do out of the box and it did that nicely some time ago.

[2020-12-10 14:39] DarkSide666 commented on #799
Ok checking. Looks like it's really a bug in atk4/data.

Edit: It's not exactly a bug, but a bit strange implementation of reverse joins indeed.
On another note if it's intended to be 1:1 relationship between these tables, then your DB structure looks a bit wrong. You should better move joining id field to another (parent) table. That would really make sure you're having 1:1 not 1:n as it is imple

[2020-12-10 16:57] DarkSide666 commented on #799
So this was not 100% like a bug, but still it had some space for improvement (done in https://github.com/atk4/data/pull/802).

To generate reverse join (which you need in your DB structure case) you have to join `table.field`.
Another option is to use `reverse=>true` setting, but that didn't work well before #802.

So in your specific example you have to:
[code]

after #802 you can also define it

[2020-12-10 17:57] DarkSide666 opened #803 "Join class does not support joining tables by non-id fields"
Currently we do not support joining tables by non-id fields because we don't know how to save records in such case.

See #802 and "Joining tables on non-id fields is not implemented yet" exception in `Join` class.

[2020-12-11 00:55] bedengler commented on #799
Ok thanks for all your effort and input. 🙏
I think you are right concerning the 1:1 connection. I'll think about moving the relation field.

And thanks for fixing. 😉👍

Concerning column and table names, I have a naming convention for that:
+ Every field name must be unique and self-explaining
+ Every table has a prefix (e.g. "adaddon_") that's part of each field name
+ Table names are all over low

[2020-12-11 07:33] #799 closed, assigned to DarkSide666

[2020-12-11 20:07] mkrecek234 commented on #809
Problem persists still with the most recent changes as of today in develop branch...

[2020-12-11 20:57] mvorisek commented on #809
Closing as we do not provided support for userland code here.

check why `HOOK_AFTER_ADD` is not called, if you have app there and you set it, I do not see any reason why it should not work

if your model creates multiple models in init(), this should be no issue if you call init with your persistence as well

[2020-12-11 21:06] mkrecek234 commented on #809
@mvorisek The code is IDENTICAL to all demo code to initiate Persistence SQL and add AppScopeTrait. I don't see why this is related to individual code and not a bug. Hook_after_add suggestion also did not solve the issue. @mvorisek if you do not want feedback on bugs created with newer versions, let me know. I consider this an essential part to a) make the software better and b) help people to eli

[2020-12-11 21:09] mvorisek commented on #809
@mkrecek234 Your feedback is highly appreciated!

I have only stated that `AppScopeTrait` trait is no longer present in atk4/data.

`AppScopeTrait` trait is provided for free use in atk4/core and I am not aware of any issue there.

[2020-12-11 21:16] mkrecek234 commented on #809
The issue you see above: if you need app in model, it was sufficient to
a) use AppScopeTrait eg in Persistence\Sql and do a setApp($this)
b) just use AppScopeTrait in each model you require app.
This is just what stopped working in recent develop versions. So isn't that an issue?

[2020-12-11 21:16] mkrecek234 commented on #809
I can move the issue to atk4/core if you feel this is more appropriate.

[2020-12-11 21:19] mvorisek commented on #809
did you verified that the Persistence HOOK_AFTER_ADD is always called, ie. for every model with which you experience the issue?

If yes, it is core issue. If no, it is data issue, but related with Persistence HOOK_AFTER_ADD (and unrealted with the AppScopeTrait  trait).

[2020-12-11 21:23] mkrecek234 commented on #809
HOOK_AFTER_ADD is called for each model, but setApp sedges not seem to be working fully. I ensured that app is available in Persistence, but in model with "use AppScopeTrait" as described above $this->_appScopeTrait is returning true, but getApp is null.

[2020-12-11 21:28] mvorisek commented on #809
`_appScopeTrait` is presence of trait, not actuall app object

moving to core if you belive this is a real issue and not an issue on your side :)

[2020-12-11 21:30] mvorisek commented on #809
Validate your statement with:

[code]

I belive, `appWasSet` will not be set at all for the cases you have issue with.

[2020-12-11 21:43] mkrecek234 commented on #809
I just verified further the situation: ` $this->onHook(\Atk4\Data\Persistence::HOOK_AFTER_ADD, function ($model, $intent)`
In the $model variable, not *the model is passed* but Persistence is passed. The model is passed in $intent variable. That seems to me the issue

[2020-12-11 21:54] mvorisek commented on #809
Use `onHookShort` like `$this->onHookShort(\Atk4\Data\Persistence::HOOK_AFTER_ADD, function (Model $model)...`

[2020-12-11 21:59] mkrecek234 commented on #809
No difference. The error happens BEFORE HOOK_AFTER_ADD hook is called (which would be AFTER the model is added). It must happen already due to the "use AppScopeTrait;" in the model class in construct/init stage. And this is before a ->setApp can be called.

[2020-12-11 22:03] mvorisek commented on #809
then this seems like your usecase is not supported :) and you may submit a PR against data. But in an abstract way, we can not operate there with AppScopeTrait in any way.

[2020-12-11 22:04] mkrecek234 commented on #809
So simple question: I just need app in a model, just like it used to be out of the box.
How can this be accomplished. Until 2.3.1 included, it was working as above.
The use case is simple and clear: Need app trait in model.

[2020-12-11 22:08] mvorisek commented on #809
Quick search shows:

https://github.com/atk4/data/pull/654/files
https://github.com/atk4/core/pull/277/files

not sure if there were more changes...

If you can not figure the issue on your own, fork atk4/ui, update some demo with your issue in a minimalistic way and post the dev branch here/forum.

[2020-12-11 22:16] mkrecek234 commented on #809
FYI If you comment out line 103, everything works again, getApp() is available in model again, no issues anymore. So assertInstanceOfApp seems to have a bug to me.

[2020-12-11 22:35] mvorisek commented on #809
There is check for PHPUnit which you can comment out if you have ui dep installed.

Otherwise the method is super simple. Does your app extends `\Atk4\Ui\App`?

[2020-12-11 22:40] mkrecek234 commented on #809
Yes sure, my app extends \Atk4\Ui\App.
Method might be super simple, but I can only tell: it does not work as it fails with a null value at class construction when "use AppScopeTrait" is there. Obviously there is some code with getApp either in Persistence or Data which is called too early before the setApp of the model was called. Can only report issue here, as I'm not in the depth of all the rec

[2020-12-11 23:09] mvorisek commented on #809
please reproduce on ui fork, I will look at it if this is an issue in atk4/core

[2020-12-17 17:51] scottfriebel opened #876 "DSQL - Support for JOINing a subquery?"
I can't find any examples of, or ways to write a query that joins sub-queries. Is this possible at this time? If so, is there any example of how I could implement it? I'm looking for something like:

[code]

[2020-12-17 22:44] scottfriebel commented on #876
I have only been looking at/working with the library for a day or two but I was seeing what I could do to accommodate this functionality and I got it working (at least in my limited couple of tests) by making the following modifications.
Note, this does require using the `$_foreign_alias` parameter of the join function which is currently labeled as "internal".

Change the `join` function lines [41

[2020-12-20 09:23] mvorisek commented on #809
closing due inactivity

[2020-12-20 09:23] #809 closed, assigned to nobody

[2020-12-20 14:08] mkrecek234 commented on #809
issue still not solved, critical to me as AppScopeTrait in models then does not work anymore. Reason: new code based on line 103

[2020-12-21 16:22] karakal opened #815 "It is not possible to save anything anymore..."
Out of nowhere the message "Model is loaded as an entity, ID can not be changed to a different one" is popping up.

 I just create a new Entity, set the values from a source entity and try to save it.

But the entity ends up in the database...

If I use entity->duplicate() as suggested in the documentation I just get the exception but no entity in the database.

I have the same function directly i

[2020-12-21 19:24] PhilippGrashoff commented on #815
Hi,

check https://github.com/atk4/data/pull/801
This is the PR for fixing Model::duplicate()

[2020-12-26 12:21] mvorisek commented on #815
fixed in #801

[2020-12-26 12:21] #815 closed, assigned to nobody

[2021-01-14 17:14] DarkSide666 opened #823 "Atk/schema does not support table rename anymore"
This commit removed ability of renaming DB tables:
* https://github.com/atk4/data/commit/575641e99a1ae45ec95d4f9be574e28d58d7550e#diff-6e27f157ea7dcdc19af3d942e5ea48339b0809a6224f670dabf7de88070fb771L31
* https://github.com/atk4/data/commit/575641e99a1ae45ec95d4f9be574e28d58d7550e#diff-6e27f157ea7dcdc19af3d942e5ea48339b0809a6224f670dabf7de88070fb771L646

@mvorisek Any chance you could add back thi

[2021-01-14 17:22] DarkSide666 commented on #823
Also doesn't support a lot of other functions like `importTable`, `createModel` and more which we had in `atk4/schema`

[2021-01-14 19:20] mvorisek commented on #823
no plans to do so now

[2021-01-27 00:44] mvorisek commented on #547
implemented in https://github.com/atk4/data/pull/800

[2021-03-15 13:02] mvorisek commented on #876
@scottfriebel please submit a code example/test case

[2021-03-15 14:38] scottfriebel commented on #876
I'm not sure exactly what you're looking for. There is an example of the actual SQL query in the top post. Here is a sample of the code I'd like to write to generate a query similar to that:

[code]

[2021-03-15 20:54] DarkSide666 commented on #876
I think joining subqueries was working in some real old versions of DSQL, but it's possible that it's not the case anymore.

If you could provide pull request with code change + few testcases then that would be brilliant!

[2021-04-13 16:24] elymatos opened #849 "Help with PK names"
I'd like to thanks for the very good job! I'm trying to move my existing code from ORM to atk4/data but I'm having trouble with PK fields names. In my schema, PK names are the form id[TableName] and not just "id". atk4/data is prepending table name for the ID name and I have to duplicate the field definition. For example, at a "ElementModel" related to a "FrameModel" I have something like that:

[

[2021-04-13 20:32] DarkSide666 commented on #849
Well, you simply have to do this in one line I guess:
[code]
Probably no need to define type=>integer, should work without that even if it will think that id is string type. But you should be able to add type=>integer in hasOne too.

BTW, why not simply? :
[code]

[2021-04-14 13:36] elymatos commented on #849
Thanks for comment! Actually that was my first try

But then I get

[code]
 I don't know if documentation is updated at this topic (https://agile-data.readthedocs.io/en/develop/references.html#hasone-reference) but it says: " Also this reference will define a system new field ... if you haven’t done so already"
But it is not happening :-( I really don't know if it is a bug or it is my fault in som

[2021-04-14 14:58] PhilippGrashoff commented on #849
Hi,

the error message is strange as 'frame_' is prepended to the field name. Could you provide the complete code of FrameModelElement::init()?

Best regards

[2021-04-14 17:14] elymatos commented on #849
Yep! Here for FrameModel:

[code]
Here for FrameElementModel (the lines i'm actually using are commented):

[code]

Thanks!
Ely

[2021-04-14 17:27] PhilippGrashoff commented on #849
Very strange that this code causes this error message. When you comment the hasOne() line the error disappears?

[2021-04-14 18:14] elymatos commented on #849
Wow, the error remains! So it is not related to 'hasOne'. As I have suspected from beginning, maybe it is my fault in some point...This is the code using these models:

[code]
Maybe the error is at "hasMany" at FrameModel:

`$this->hasMany('FE', ['model' => FrameElementModel::class]);`

The framework might be trying to infer the name of FK...How can I define explicitly the FK name (idFrame)?
Thank

[2021-04-16 07:59] mvorisek commented on #849
You can start with https://github.com/atk4/ui/blob/develop/demos/init-db.php , all fields there has a different actual name and also different than `id` PK. There were some minor issues with edge cases which will be fixed in rel v2.4, which will be out in the next days, or you can use `dev-develop` version now.

[2021-04-16 12:17] elymatos commented on #849
Ok! I found it. I think it working correctly now, using "their_field".
Thanks all for help!
Ely

[2021-04-16 12:17] #849 closed, assigned to nobody

[2021-04-28 10:46] mvorisek opened #866 "Stricter insert/update/delete"
All DB operations incl. update/insert/delete must honor all model conditions

when a record is saved (inserted/updated), it should be reselected to check if the model conditions still select such model (currently model is reloaded, but no rollback is done if the record cannot be loaded)

before any record is deleted, the record should be selected to test if the model conditions match

[2021-04-29 05:40] georgehristov opened #867 "Cloning Model having fields with reference"
When cloning a Model, the fields are cloned as well but Field::$reference if set continues to hold Reference object owned by the original Model and not of the cloned Model.

e.g
[code]

The solution would be to store only the Reference::$link under the Field::$reference (change to `protected`) and introduce Field::getReference() method:

[code]

[2021-04-29 08:28] #867 closed, assigned to georgehristov

[2021-04-29 17:40] mvorisek commented on #662
I understand the idea of this, for modelling, if and only if a condition is definitive (is always valid), default value can be set, but:

a) PK/ID should never be set (fixed in https://github.com/atk4/data/pull/862/commits/b24d858a2583d382617dd4ee5896ed1a90782959)
b) it must never mutate another modelling chain - we probably must support model of model

[2021-06-02 14:31] ibelar opened #881 "ContainsMany does not fire ref model hook when set or save"
Consider code below:

[code]

When changing Accounts reference value, then the Account model hook should be fire. Actually id does not.

Ex:
[code]

Then, when setting Account or saving Client, the Account model hook should be fired.

[2021-06-02 15:42] mvorisek commented on #881
I looked into it now, this calls again for full virtual/nested modelling. A temporary/quick solution should be to check for `Model->contained_in_root_model` in `Model::set` and if set, call set also on the owning model. Better solution will be to not calculate dirty on set (store only loaded data for diffing later) and in containsXxx models, share data from the root model using `getDataRef` return

[2021-07-13 11:24] #648 closed, assigned to nobody

[2021-07-27 02:05] Ayman-Nageeb opened #885 "Plugins Architecture"
Hello, I need help

I am planning to build an extensible system (via plugins) using laravel

it for my project in the university ( I am a student )

the issue is that i don't know how to implement a plugins architecture in laravel

but you did it

i need to know how

so please give me any guide to start with

[2021-07-27 07:44] mvorisek commented on #885
This is not a support forum. If you have a concrete problem/issue, please ask, otherwise use pages like stackoverflow.

[2021-07-27 07:44] #885 closed, assigned to nobody

[2021-08-25 22:22] mvorisek commented on #497
I belive this is issue is no longer present.

ping @georgehristov

[2021-08-25 22:23] mvorisek commented on #457
`asModel` was removed completely :)

[2021-08-25 22:26] mvorisek commented on #424
I think this is fixed already

[2021-08-25 22:26] mvorisek commented on #423
I think this is fixed already

[2021-08-25 22:26] mvorisek commented on #418
see https://github.com/atk4/data/issues/457#issuecomment-905916503, functionality removed

[2021-08-25 22:28] mvorisek commented on #179
no longer present

[2021-08-25 22:29] mvorisek commented on #306
closing as too broad, individual issues are enough

[2021-08-25 22:31] mvorisek commented on #501
@PhilippGrashoff is this inconsistency still present and can you propose a PR to fix it?

[2021-08-25 22:31] #590 closed, assigned to nobody

[2021-08-25 22:32] #563 closed, assigned to romaninsh

[2021-08-25 22:34] mvorisek commented on #467
Date is easy as the object can carry the TZ and the date remains unchanged even if recalculated to a different TZ.

Closing as this is more ui issue.

[2021-08-25 22:36] mvorisek commented on #438
this issue is present across atk4 projects, but too broad to identify/fix easily

[2021-08-25 22:37] mvorisek commented on #416
I belive this issue is fixed

[2021-08-25 22:38] mvorisek commented on #417
closing in favor of DBAL types, PR https://github.com/atk4/data/pull/727

[2021-08-25 22:39] mvorisek commented on #403
@PhilippGrashoff please check if fixed, I belive if you export as DB/unmanaged values, all values are casted correctly

[2021-08-25 22:45] mvorisek commented on #358
This is easily possible with SQL field with CONCAT expr

[2021-08-25 22:46] mvorisek commented on #262
I belive this has been already addressed

[2021-08-25 22:48] mvorisek commented on #237
shorter notation should not be supported due to the limited refactoring possibilities, but hintable lib is a great tool to easily traverse/describe such structures

[2021-08-25 22:49] mvorisek commented on #146
too broad issues, a lot has been changed already

[2021-08-25 22:50] mvorisek commented on #154
too old issue, too broad purpose

[2021-08-25 23:00] mvorisek commented on #165
Data can be easily exported or save into sqlite file.

Serializing models is not easily possible as these structures are created from code.

[2021-08-25 23:01] mvorisek commented on #422
too broad, I lot of inconsistencies has been unified

[2021-08-25 23:04] mvorisek commented on #32
PR welcomed

[2021-08-25 23:04] mvorisek commented on #31
PR welcomed

[2021-08-25 23:06] mvorisek commented on #207
partly fixed in https://github.com/atk4/data/pull/880

[2021-08-25 23:10] mvorisek commented on #455
You can extend Model and implement your desired behaviour.

[2021-08-25 23:11] mvorisek commented on #524
This is implemented, thanks @georgehristov !

[2021-08-25 23:12] mvorisek commented on #536
not sure what I meant, probably fixed now

[2021-08-25 23:14] mvorisek commented on #319
@georgehristov you mean exclude some model fields or exclude one field from the database dable (eg. query database for all available field first)?

[2021-08-25 23:15] mvorisek commented on #506
related with https://github.com/atk4/data/issues/118

[2021-08-25 23:18] mvorisek commented on #823
Closing as this does not intent to impl. migrations.

[2021-08-25 23:18] #823 closed, assigned to nobody

[2021-08-25 23:24] mvorisek commented on #183
I think the correct approach is to support any Model as another Model source/table. Ideally RW if not grouped.

[2021-08-25 23:27] mvorisek commented on #209
closing as too broad, also, supporting cross persistence search is much more complicated

[2021-08-25 23:30] mvorisek commented on #308
Can be solved with https://github.com/atk4/data/pull/727 or Symfony/Lavarel integration

[2021-08-25 23:37] mvorisek commented on #578
A lot has been done, impl. more when needed

[2021-08-25 23:37] #578 closed, assigned to nobody

[2021-08-25 23:38] mvorisek commented on #876
https://github.com/atk4/data/issues/183 is needed first

[2021-08-25 23:38] mvorisek commented on #68
closing as contributing is easy ;-)

[2021-08-25 23:39] mvorisek commented on #267
So much undocumented changes... Review later at once.

[2021-08-25 23:40] mvorisek commented on #117
So much undocumented changes... Review later at once.

[2021-08-25 23:40] mvorisek commented on #84
So much undocumented changes... Review later at once.

[2021-08-25 23:40] mvorisek commented on #376
So much undocumented changes... Review later at once.

[2021-08-25 23:41] mvorisek commented on #147
Closing as the precision should be used for save too, eg. expected.

[2021-08-25 23:43] mvorisek commented on #110
I think this is hard to define with complex models with joined fields etc.

[2021-08-25 23:44] mvorisek commented on #185
partly fixed in https://github.com/atk4/data/pull/880

[2021-08-25 23:45] mvorisek commented on #874
impl. once some feature is needed

[2021-08-25 23:45] #874 closed, assigned to nobody

[2021-08-25 23:46] mvorisek commented on #236
duplicate of https://github.com/atk4/data/issues/103

[2021-08-25 23:49] mvorisek commented on #876
@scottfriebel please submit a PR

[2021-08-25 23:49] #876 closed, assigned to nobody

[2021-08-25 23:50] mvorisek commented on #699
closing as user can always choose sqlite :)

[2021-08-25 23:50] #699 closed, assigned to nobody

[2021-08-25 23:52] mvorisek commented on #396
partly duplicate of https://github.com/atk4/data/issues/534

[2021-08-25 23:52] #396 closed, assigned to romaninsh, DarkSide666

[2021-08-26 12:40] DarkSide666 commented on #358
It's not about concating. It's more about grouping fields and use these group definitions in setModel afterwards.
[code]
and this will add fields full_name and address as CRUD columns.
If these also are groups not single fields, then recursively nest until we get a list of included fields.

[2021-08-26 12:54] mvorisek commented on #358
please be more specific than `$model`, maybe simple example of data/usecase will help others to easily understand it

[2021-08-26 20:25] DarkSide666 commented on #358
@romaninsh has described that very well 3 years ago (see above) with good example.

In short - that's ability to group model fields in some way (groups, collections, sets - call how you want).
That alone doesn't give any advantage to atk4/data, but can be nicely used in atk4/ui setModel() in case when you want to use only subset of all fields in form or CRUD and don't want to name all of the field

[2021-08-26 20:26] mvorisek commented on #358
I see, should be easy as virtual Field that will get/set the individual values. This way, it will work correctly also when nested.

[2021-08-26 20:32] DarkSide666 commented on #358
What virtual field? Why virtual field? :)

[code]

[2021-08-26 20:42] DarkSide666 commented on #319
`onlyFields` means that only these fields will be included in DB query (plus system ones of course).
`excludeFields` means that all fields will be included in DB query except these few ones.

Field names are taken from data Model not actual DB table fields.

Issue can arise if we use both these functions at the same time - onlyFields() and excludeFields(). These can clash then so we have to define

[2021-08-26 20:43] mvorisek commented on #358
I saw "API" and your example is for GUI. I understand what you mean, it is easy to implemente, but hard to understand, even more, because of the "group" kw which refers to something else in data (SQL GROUPing).

Yesterday, I purified the issues, I closed like 50 of them, which brought us here, but let's break up it here too, as this is a feature I do not want to implement nor strongly support. :)

[2021-08-26 20:45] mvorisek commented on #319
fine, can be useful

that should result in an exception

[2021-08-26 20:49] DarkSide666 commented on #358
Yeah, let's not close this. Maybe someday ...
We can call them _field sets_ maybe. `visible` and `editable` actually also can be field sets - set of visible fields and set of editable fields :)

Not sure about API - I found ui setModel() improvement a more useful.

[2021-09-06 11:47] mvorisek commented on #866
@DarkSide666 @georgehristov Any idea how to validate the model conditions on a new data?

By doiing a select /w given record id after the data has been inserted and rollback if no record is returned?

[2021-09-29 15:00] mvorisek opened #893 "Drop Field::serialize property"
In favor of `ObjectType` - https://github.com/doctrine/dbal/blob/3.1.2/src/Types/ObjectType.php

type itself should be responsible for the typecast

[2021-09-29 17:23] abbadon1334 commented on #893
I like it and to make it no BC will not remove switches in typecast, so no pain no gain

[2021-09-29 17:26] mvorisek commented on #893
implemented as part of https://github.com/atk4/data/pull/727

[2021-09-29 17:26] #893 closed, assigned to nobody

[2021-10-08 13:49] mvorisek commented on #439
should be "solved", eg. consistent with https://github.com/atk4/data/pull/897 and https://github.com/atk4/data/pull/899

[2021-10-08 13:50] mvorisek commented on #534
fixed in https://github.com/atk4/data/pull/897

[2021-10-09 03:06] mvorisek opened #902 "Oracle server in CI does not handle burst of connections"
Currently, the connections are cached for CI, but for ui HTTP tests we can not do that.

https://github.com/atk4/data/blob/09187a5f356a144a6a10be7cb1703e468a4cce1b/src/Persistence/Sql/Oracle/Connection.php#L41

the whole connection reusing should be dropped

[2021-10-11 02:48] #641 closed, assigned to romaninsh, DarkSide666, abbadon1334, georgehristov

[2021-10-11 11:12] mvorisek commented on #521
I meant:
[code]

and the dumped memory usage must be exactly the same. And it is, as `Model` is not added into the `Persistence::elements` as it does not implement `TrackableTrait` trait. Added comment to the code as well.

[2021-10-11 19:54] #714 closed, assigned to nobody

[2021-10-11 19:56] #902 closed, assigned to nobody

[2021-10-13 12:32] ibelar opened #1237 "Validate user action args"
Make it possible to use a Data model in order to setup an action arguments.

Advantage:
- args can be define as Model field;
- args input can be validate using a model Validator;

[2021-10-19 11:03] mkrecek234 opened #907 "Persistence\Array_ not allowing zero id, throwing error"
1) Create a model from an array with `$m = new Model(new Array_($t));` where `$t= [
    ['name' => 'January', 'sales' => 20000, 'purchases' => 10000],
    ['name' => 'February', 'sales' => 23000, 'purchases' => 12000]]`

2) Iterate through model with `foreach ($model as $row) { }`

Atk4\Data throws an error on iteration as it does not accept id to be zero in \Atk4\Data\Field Line 311.

`$value = (

[2021-10-19 11:09] mvorisek commented on #907
Correct me if I am wrong, but default's model ID field is required to be a non-zero by default.

I expect the same issue with SQL persistence.

To verify if this is a bug with array persistence, set required/mandator for ID field to false.

[2021-10-19 11:17] mkrecek234 commented on #907
If id is set not to be required, sure it does not throw an Exception @mvorisek. Array Persistence however automatically assigns the id to match the array index, so starts with 0. To me, 0 is not null, and also SQL databases make a difference: NULL (not filled out) whereas 0 (filled out). Validation for integer thus should check for is_null($value) and not empty($value).

[2021-10-19 11:19] mvorisek commented on #907
Then is seems absolutely unrelated to me with array persistence.

See https://github.com/atk4/data/pull/899 and related issues.

[2021-10-19 11:19] #907 closed, assigned to mkrecek234

[2021-10-19 11:25] mkrecek234 commented on #907
It is not unrelated. If we decide not to treat a 0 id as a filled value and treat it differently than null, then Persistence\Array_ is not working, as it assigns logically the first record to have an id=0.  @mvorisek

[2021-10-19 11:34] mvorisek commented on #907
Please check the PR above and the difference between notNull/notEmpty. ID is designed to be nonEmpty by default in https://github.com/atk4/data/blob/3.0.0/src/Model.php#L420

You can always modify it by `$m->getField($m->id_field)->required = false`.

Is this a solution for you?

[2021-10-19 11:37] mkrecek234 commented on #907
@mvorisek This does not make sense, sure the id of a Persistence\Array_ model HAS to be required. And the way Array_ is setup is that it automatically assigns the id to match the array index, so starts with 0. It is implemented in Array_.
Required means "not null" and not "not zero" - every professional database makes a difference in that regard: Zero indeed fulfills a mandatory field. NULL not.

[2021-10-19 12:32] mvorisek commented on #907
Michael, see the PR above that intends exactly the correct handling of notNull/notEmpty. For historical reasons, it is named mandatory/required, maybe we can name it later better, but of course, atk4 must handle this well. And it will.

It is not what I was, I just pointed out, that some bad developers do so.

Discord discussion:

![image](https://user-images.githubusercontent.com/2228672/13790946

[2021-10-19 13:10] mkrecek234 commented on #907
We should not overcomplicate things for the developer:
If you want to create a model from an array (with array persistence), then it should be EASY:

Just do $m = new Model(new Array_([['name' => 'Peter'], ['age' => 12]])); - why should any developer bother about how to assign which id?

Persistence\Array_ could in your case just map array[0] to [1 => ['name' => 'Peter'], ['age' => 12]]] - BUT tod

[2021-10-19 13:12] mkrecek234 commented on #907
Once again, my issue is NOT to allow id to be empty. I would prefer a required id to be allowed to be 0 (zero), not just null. But if you don't agree, then see my comment above, that Array_ should map automatically element array[0] to id=1.

[2021-10-19 13:21] mvorisek commented on #907
Michael, I would like to help you, but I think you are not fully aware of the possible negative consequences I mentioned.

Also, please accept also 0 is empty in integer world. In php, in SQL, almost everywhere.

I do not want to spend more time in this discussion. If you think you have a clever idea I am missing, please submit ts as a PR.

[2021-10-19 13:23] mkrecek234 commented on #907
I think you don't get my point: If we agree to treat 0 identical to null for integer, THEN Persistence\Array_ should map $data[0] to id=1 - today it maps it to id=0 which causes an error.

[2021-10-19 13:32] mvorisek commented on #907
Is the only issue you have the seeding of the array persistence and IFF the keys are a list (0, 1, ...n-1) AND id col is unspecified, THEN insert it with ID 1...n?

[2021-10-19 14:04] mkrecek234 commented on #907
Yes, now you got me ;-)

[2021-11-05 21:14] #575 closed, assigned to DarkSide666

[2021-11-05 21:14] #576 closed, assigned to nobody

[2021-11-12 05:46] #506 closed

[2021-11-12 11:37] #96 closed

[2021-11-12 11:37] #153 closed

[2021-11-12 11:38] mvorisek commented on #224
to be done in ui persistence

[2021-11-12 11:38] #224 closed

[2021-11-14 18:26] mvorisek opened #918 "Some PDO bind names are reserved"
names like `as` cannot be used for param binding, at least in Oracle

[2021-11-22 22:12] mvorisek commented on #918
fixed in https://github.com/atk4/data/pull/922

[2021-11-22 22:12] #918 closed, assigned to nobody

[2021-11-24 08:56] mvorisek opened #929 "`HasOneSql::addField` adds field without `->ui['editable'] = false`, but it is not saveable"
field added using `HasOneSql` reference seems to be non-saveable, but currently if added using `HasOneSql::addField` it is NOT marked with `->ui['editable'] = false` thus in the main atk4/filestore demo `index.php`, the 2 imported fields (actually 4, imported twice) in https://github.com/atk4/filestore/blob/2.4.0/src/Field/File.php#L99 are shown in Form/CRUD and make user fake feel they can be edi

[2021-11-27 01:38] mvorisek opened #936 "Unsafe `<script>` replace in JS"
https://github.com/atk4/ui/blob/3.0.0/js/src/services/api.service.js#L105

is can corrupt content if such replaced string is presented inside the value

[2021-11-30 22:54] mvorisek commented on #702
no time resources for it

[2021-11-30 22:54] #702 closed, assigned to nobody

[2022-01-05 10:38] mvorisek opened #950 "SQLite does not compare integer/float values correctly"
https://dbfiddle.uk/9zyERqwV

[code]

https://dba.stackexchange.com/questions/311555/sqlite-spec-4-2-type-conversions-prior-to-comparison

https://dba.stackexchange.com/questions/332585/sqlite-comparison-of-the-same-operand-types-behaves-differently

https://sqlite.org/forum/info/0f96b67cf2c39ed4

[2022-01-07 21:35] mvorisek opened #955 "Join class must not update with DSQL to trigger Model hooks"
slighly related with https://github.com/atk4/data/issues/803

Join class should use Model instead of table directly

related with https://github.com/atk4/data/pull/946

[2022-01-09 13:13] mvorisek opened #957 ""ambiguous column name" with Join"
add this to Persistence\Sql to reproduce:

[code]

[code]

[2022-01-09 13:18] mvorisek commented on #957
not a bug, Field instead of a field name must be used like `$query->order($f, false);`

[2022-01-09 13:18] #957 closed, assigned to nobody

[2022-01-12 14:25] mvorisek commented on #183
implemented in https://github.com/atk4/data/pull/946

[2022-01-12 14:25] #183 closed

[2022-01-21 13:46] #955 closed, assigned to nobody

[2022-01-21 13:57] mvorisek opened #962 "Deprecated platform "commented type" API"
see https://app.codecov.io/gh/atk4/data/compare/960/changes

https://github.com/doctrine/dbal/issues/5194

with DBAL 3.3 `AbstractPlatform::initializeCommentedDoctrineTypes()` override does not work/is not called

[2022-01-22 13:23] mvorisek commented on #962
will be closed in https://github.com/atk4/data/pull/963

[2022-01-22 13:23] #962 closed, assigned to nobody

[2022-02-22 18:23] mkrecek234 opened #967 "Saving an entity with a modified field which excludes them from model results in error"
Steps to reproduce:
- You have a model wit emails "Email" and filter it, e.g. by addCondition(unread, true);
- Out of this model you edit an email, changing "unread" to false, and apply an entity->save(['unread' => false]);
- Saving would theoretically work, but as atk4/data by default reloads the entity after save, it is rolled back with an error because that entity no longer exists in the model.

[2022-02-22 21:53] mvorisek commented on #967
Model is currently a domain/scope, eg. violation any conditions must always throw/rollback and never allow to save out-of-scope model data.

What you need is to have a Model /wo such filtering conditions and then close it for filtering an unread messages. But when saving such message as read, you must use the unfiltered model or remove the filtering cond before save.

Please post also the traversi

[2022-02-22 21:59] mvorisek commented on #967
Even if we will ignore conditions set outside Model::init(), it is not logical to be able to save a record that cannot be selected later

Typical usecase is softdelete. I belive such usecase, and answer/solution for you?, is to temporary relax/ignore such condition during save in try&finally (remove&restore) approach

[2022-03-13 08:38] mvorisek opened #975 "PostgreSQL does not support "column LIKE variable" syntax"
failing test: `Atk4\Data\Tests\ConditionSqlTest::testLikeCondition`

[2022-03-13 08:39] mvorisek opened #976 "MSSQL: Cannot perform an aggregate function on an expression containing an aggregate or a subquery."
failing test: `Atk4\Data\Tests\Util\DeepCopyTest::testBasic`

[2022-03-14 10:05] mkrecek234 opened #977 "Model->export starts id id= >0, but should start at id => 1"
With the current refactorings, the Atk4\Data\Persistence\Array_ will expect an id != 0.
This won't work, as the model->export function will start at id=0:

[code]
Can we make ->export start with id = 1 then to make it consistent? In my case $vpmodel is a Persistent SQL model

[2022-03-14 16:21] mvorisek commented on #977
see https://github.com/atk4/data/blob/8c9be7b490223d290de43958d4e538553a79f106/src/Model.php#L1688 and https://github.com/atk4/data/blob/8c9be7b490223d290de43958d4e538553a79f106/src/Model.php#L1754

that what is the 2nd param for, please confim it works

[2022-03-14 19:46] mkrecek234 commented on #977
@mvorisek Perfect, thank you for the hint! Working like charm

[2022-03-14 23:09] mvorisek commented on #977
👍

[2022-03-14 23:09] #977 closed, assigned to nobody

[2022-04-21 10:33] mkrecek234 opened #984 "AggregateModel: Cannot add hasOne reference"
The recent implementation of AggregateModel does not allow to add a hasOne reference (or inherit it from the source model).
Steps to replicate:
[code]
Expected result:
$targetmodel->ref('tax_rule_id') returns hasOne-linked model.

Result:
Error in `vendor/atk4/data/src/Reference.php:224`saying `TypeError: preg_quote(): Argument #1 ($str) must be of type string, null given`

[2022-04-21 10:37] mvorisek commented on #984
It is issue I already fixed in `feature/introduce-aggregate-union-models` branch as I hit found it already during the devel.

[2022-04-21 10:37] mkrecek234 opened #985 "AggregateModel inheriting reference on setGroupBy fields"
If you create an aggregate Model an group by certain fields which are hasOne references in the source model, it would be convenient to also have/keep those references in the aggregate Model, so if source model has a hasOne reference called 'tax_rule_id':

[code]
the aggregateModel should then allow `$tax_rule_name = $taxposition->ref('tax_rule_id')->getTitle();` for example.

[2022-04-21 11:36] mvorisek commented on #985
discussion:

![image](https://user-images.githubusercontent.com/2228672/164449922-5c64a732-95c4-4017-8384-a75a18a5f5d1.png)

[2022-04-21 12:28] mkrecek234 commented on #984
@mvorisek with the recent changes, then the error changes to `!! ATK4 CORE ERROR - EXCEPTION RENDER FAILED: Atk4\Data\Exception: AggregateModel model does not support this action !!`

[2022-04-21 13:14] mvorisek commented on #984
The exception render issue is fixed in https://github.com/atk4/core/pull/347

the exception itself is valid, here is a repro using atk4/ui demo models:

[code]

[2022-04-21 21:41] #984 closed, assigned to nobody

[2022-04-23 11:35] mvorisek commented on #985
I think no field (nor reference, user action, ...) should be added automatically, because if anything is added automatically:
- it will select extra data (worsen performance)
- phpdoc (for hintable) must be always declared manually

However, when such field ())ref, ...) is added to the outer model, the configured properties (class, type, ...) must be inherited as defaults.

[2022-05-29 11:07] mvorisek commented on #158
Data from a different persistence can be materialized thru php and passed to the selecting/owning Model using "select multiple rows with constants" - https://stackoverflow.com/questions/2201170/how-to-select-multiple-rows-filled-with-constants

[2022-05-29 11:09] #875 closed

[2022-05-29 11:10] mvorisek commented on #875
closing as we should review terms consistency for every repo :)

[2022-05-29 11:12] mvorisek commented on #803
@DarkSide666 can you please provide a minimalistic code to reproduce?

[2022-05-29 11:15] mvorisek commented on #358
this is more like an ui feature and `Field::$ui` property can be used for it - just define key like `groupName` and display fields with the same name together

[2022-05-29 11:15] #358 closed

[2022-05-29 11:15] mvorisek commented on #319
closing in favor of https://github.com/atk4/data/issues/118

[2022-05-29 11:16] mvorisek commented on #118
very simillar feature request: https://github.com/atk4/data/issues/319

[2022-05-29 11:16] #319 closed

[2022-05-29 11:17] mvorisek commented on #132
closing in favor of https://github.com/atk4/data/issues/577

[2022-05-29 11:17] #132 closed

[2022-05-29 11:18] mvorisek commented on #577
related feature request: https://github.com/atk4/data/issues/132

[2022-05-29 11:21] mvorisek commented on #599
@abbadon1334 would be nice if you can generate the docs from code and publish on `agiletoolkit.org` web, at least for atk4/core, data and ui

[2022-05-29 11:23] mvorisek commented on #382
UserAction is implemented

[2022-05-29 11:23] #382 closed

[2022-05-29 11:25] mvorisek commented on #501
closing as no reaction, if you can reproduce, please post here a two examples of code, one where it works and one where id doesn't

[2022-05-29 11:25] #501 closed

[2022-05-29 11:27] mvorisek commented on #393
With entity design, we should cascade `save` to all dirty models, and if `delete` is called on a child model, delete it's owner.

[2022-05-29 18:58] mvorisek opened #997 "Array persistence traversal is not consistent vs. SQL traversal"
let's have 2 models A and B and no condition is specific on any model

A has many B

when B record has an foreign key not available in A, SQL persistence excludes these records when traversing from A, but Array persistence does not

HasOneSql also introduce extra traversal condition

[2022-05-29 19:51] samsouthardjr opened #998 "hasMany referencing a table in another db generates ciritcal error from lack of fallback field"
With two classes:

[code]

With those classes, the code:

[code]

will generate an exception "Atk4\Data\Exception: Their model does not contain fallback field" as it will attempt to reference a their_fallback_field of 'db1.parent_id' (it should be simply 'parent_id').

Adding "their_field' => 'parent_id' to the hasMany definition resolves this, but shouldn't be necessary

[2022-05-29 23:31] mvorisek opened #1000 "Traversal to not-null but unavailable ID should fail"
see https://github.com/mvorisek/atk4-hintable-mirror/blob/6a1863283b47afe20bb43f942544a8a7fd615460/tests/Data/HintableModelArrayTest.php#L185

[2022-05-30 12:08] mvorisek commented on #881
in https://github.com/atk4/data/pull/999 I have fixed traversing issue with ContainsOne/Many

ContainsOne/Many model (`Account` is your example) is currently expected to be saved manually which triggers save in the "contained in" model (`Client`).

In the example, I do not see such manual save called - @ibelar when you reload `$clientEntity`, can you confirm you really get `Accounts` /wo the last/

[2022-05-30 12:54] ibelar commented on #881
Getting the Accounts data correctly was not the issue here.

What I meant was that when Account model hook are used,  like `Account::HOOK_BEFORE_SAVE`, the hook_before_save is never trigger when setting Account model data using `$clientEntity->set('Accounts', $ac)` or using `$clientEntity->save()`

[code]

It might not have been implement before as well, so I am not sure if this is a bug or more o

[2022-05-31 11:47] mvorisek commented on #1000
fixed in https://github.com/atk4/data/pull/1001

[2022-05-31 11:47] #1000 closed, assigned to nobody

[2022-05-31 14:01] #998 closed, assigned to nobody

[2022-05-31 14:50] mvorisek commented on #881
see https://github.com/atk4/data/pull/1004 test

- when `$ac` is saved, a `$clientEntity` hook is triggered
- when `$ac` is deleted, a `$clientEntity` hook is triggered

`$clientEntity->set('Account', $ac)` is currently untested not supported - what should it do? is it used anywhere?

however, I still do not undestand this issue ticket completely - what you want to test https://github.com/atk4/dat

[2022-06-06 10:58] mvorisek commented on #881
@ibelar please update the test code in the #1004 PR to reproduce your issue

[2022-06-06 15:07] ibelar commented on #881
Not sure what more you need. This is relatively simple.
When setting Account via parent model set, i.e. `$clientEntity->set('Accounts', [])` or saving the parent model `$clientEntity->save()` after Account was set, then hook set within the Account model are not fire.

Like I said before, It might be the intended way that Account hook are not fired. If this is the case then there is no issue.

[2022-06-06 15:42] mvorisek commented on #881
@ibelar In #1004 I have put a test case together and I want you to edit it to replicate the issue you describe. Please fork the PR, edit it and push the failing test case directly to the PR branch or post it here.

Please also see https://github.com/atk4/data/issues/881#issuecomment-1142239433. In atk4/data, you can not use `Model::set` method to set HasMany/ContainsMany data. What you need is to

[2022-06-06 16:19] ibelar commented on #881
From what I know, you can set containsMany model via Model::set() parent model.

Setting Account field the way below work fine:

[code]

Setting field value within a Form model after submit is also done this way when Form use a Multiline control that is reference to a containsMany field.

[2022-06-06 16:35] mvorisek commented on #881
It works as the internal `Account` data is an array (stored as JSON) and constructed by an Array_ persistence.

Currently, the data are completely unchecked when `Client::save` is called. Hook on `Client::HOOK_BEFORE_SAVE` is fired when the JSON data are changed. That is correct. Field content is handled like any other array/JSON field.

Ah, in https://github.com/atk4/data/issues/881#issuecomment-

[2022-06-06 16:36] mvorisek commented on #881
@ibelar It works as the internal `Account` data is an array (stored as JSON) and constructed by an Array_ persistence.

Currently, the data are completely unchecked when `Client::save` is called. Hook on `Client::HOOK_BEFORE_SAVE` is fired when the JSON data are changed. That is correct. Field content is handled like any other array/JSON field.

Ah, in https://github.com/atk4/data/issues/881#issue

[2022-06-06 17:04] ibelar commented on #881
Yes!

Below is a simple setup. Form will add a Multiline control for the 'Account' field. The field get set in Control class (see: https://github.com/atk4/ui/blob/5af98f3ca91046de0318bab8f9435db664e837b3/src/Form/Control.php#L97) and the value is an array return by Multiline.

[code]

[2022-06-07 13:40] mvorisek commented on #881
@ibelar please review https://github.com/atk4/data/pull/1004

also please see https://github.com/atk4/ui/pull/1797 - I tested MultiLine with `demos/form-control/multiline.php` demo:

- there was an issue with `Model::tryLoad` returning `null` (and I fixed it, I will also review any `tryLoad` use in atk4/ui soon although the testing suite passes)
- the demo `demos/form-control/multiline.php` seems

[2022-06-07 16:40] ibelar commented on #881
Please note that the issue is not in Multiline.

if this code below is firing hook in Account model then it will be working in Multiline.

[code]

Beside, Multiline set up in demo is not related to this. Multiline can be used in three different ways:
- by populating model data directly; (as in Ui demo);
- by populating hasMany relation of a model;
- by populating one field of a model, as a contain

[2022-06-07 18:21] mvorisek commented on #881
Any direct data modifications is not wanted, like updating DB with SQL directly instead of via Model with proper normalization incl. hooks and other business logic.

[2022-06-07 20:13] #881 closed, assigned to nobody

[2022-06-21 09:02] mkrecek234 opened #1010 "setLimit(1) not working"
Steps to reproduce:
1. Select any model and add some conditions which result in multiple records. Optionally also setOrder.
2. Apply setLimit(1) to restrict to one record only
3. Then tryLoadOne()

I get this error: `Atk4\Data\Exception: Ambiguous conditions, more than one record can be loaded`
Code snippet:
[code]

What should be expected:
If there was minimum one entity matching the conditions,

[2022-06-24 13:33] mvorisek commented on #1010
interesting finding, strictly taken it is a bug, as model modelled with max. 1 record cannot contain more than one record :)

I belive the `$customermodel->addCondition(...)` in the repro code is not even needed (and technically the `setOrder` neither, although any matching record will be picked)

[2022-06-24 23:02] #1010 closed, assigned to nobody

[2022-06-25 15:46] mvorisek commented on #661
I do not want to pursue this issue now

[2022-06-25 15:46] #661 closed, assigned to nobody

[2022-07-03 12:59] #975 closed, assigned to nobody

[2022-07-07 08:55] mvorisek commented on #803
here is a repro code: https://github.com/atk4/data/blob/f89264b0b7667baacef0aad420b421907d1abe7d/tests/JoinSqlTest.php#L32-L36

[2022-07-09 22:08] mvorisek opened #1022 "Add support for model nesting with CTE"
Also, the data from CTE should be editable

also add support for Query with CTE nesting

[2022-07-30 10:15] mvorisek commented on #577
`string` and `text` types do already some "intuitive & logical" normalization

[2022-07-30 10:15] #577 closed, assigned to nobody

[2022-07-30 12:34] #929 closed, assigned to nobody

[2022-08-03 16:26] mvorisek opened #1045 "Aggregate of non-physical field is broken"
discovered in https://github.com/atk4/data/commit/2f93908c6d77a969712e635148931997b1fa8a81#diff-bff9bb1a3b20aa2d2fb5c6aa8c3a31d22dcbba69bdebc2ec936bb0b45d479febR74

all tests must pass even if `reloadAfterSave` is enabled (default)

[2022-08-04 09:26] mkrecek234 opened #1046 "HasOneSql is not merging imported field seed properly"
Steps to reproduce:
1. You have a model and addExpression which by nature is non-editable.
2. You for example relate to that model with a hasOne relation, and import that expression as a field

Error `TypeError: Atk4\Data\Field::isEditable(): Return value must be of type bool, array returned`
in Model:730

The issue is in line 734, as isEditable is not existing as a property for SqlExpressionField

[2022-08-04 09:40] mvorisek commented on #1046
@mkrecek234 please do not add `MAJOR` to (every) bug, `MAJOR` is something conceptually wrong or with major impact on most users.

Also, please copy/screenshot full backtrace in case you want to refer to it. Refering to a line number without knowing the file is almost useless. The same for the exception message, as the reason might depend on a context which is shown in exceptions params (added by

[2022-08-04 09:41] mkrecek234 commented on #1046
![image](https://user-images.githubusercontent.com/28671486/182816395-02004805-19c3-4772-a068-ddbb5a394bbc.png)

[2022-08-04 09:45] mvorisek commented on #1046
There is no `isEditable` property in atk4/data. There is only `Field::isEditable()` method, which by inheritance available in `SqlExpressionField`. Can you please post a minimalistic code to reproduce or is it possible to reproduce it on atk4/ui demos?

[2022-08-04 09:53] mkrecek234 commented on #1046
Correct - it relates to the missing isEditable() property of SqlExpressionField. In Model::getFields() the following code is not compatible with SqlExpressionField:
[code]
As I cannot create minimalistic code on demo today, here already the info to reproduce:

1. Add an expression to any model.
`$model->addExpression('expressionfield', ['expr' => "1"]);`

In a child model create a hasOne and impor

[2022-08-04 09:58] mkrecek234 commented on #1046
I checked further, the issue is that `$this->ui['editable']`in [Field:457](https://github.com/atk4/data/blob/ac637ce4389eb34ce7e118008a7cc356a47587c0/src/Field.php#L457) returns an array which includes true and false, rather than just a boolean value.

[2022-08-04 09:58] mvorisek commented on #1046
Thank you for the code. I am looking into it.

really a property? I seached `->(is)?editable(?!\()`, no such property is accessed in the whole project

I belive the issue is caused by `ui['editable']` beiing an array - https://github.com/atk4/data/blob/0892a701f955b5c560bb3dd324645788bedd7594/src/Field.php#L457

[2022-08-04 09:59] mkrecek234 commented on #1046
![image](https://user-images.githubusercontent.com/28671486/182820080-f4487de0-4979-419c-9d20-25266edd9d6a.png)

[2022-08-04 09:59] mvorisek commented on #1046
yes, doesn't it come from your code?

[2022-08-04 10:00] mkrecek234 commented on #1046
No, I haven't touched anything there, just standard model definitions

[2022-08-04 10:48] mvorisek commented on #1046
issue is here: https://github.com/atk4/data/blob/0892a701f955b5c560bb3dd324645788bedd7594/src/Reference/HasOneSql.php#L87

`array_merge_recursive` is not merging the seed properly - https://3v4l.org/4Tgo8

[2022-08-04 11:11] #1046 closed, assigned to nobody

[2022-08-05 09:25] #866 closed, assigned to nobody

[2022-08-16 13:05] mvorisek opened #1052 "Allow to get target model after deep traversal"
[code]

When traversing on null value, we may allow the ID to change (to newly inserted). I will check what can be done and if it will not break other tests.

use case 2 - how should this work? Previously, the save conditions were relaxed, to me, incorrectly. What is the reasoning to relax save conditions when the entity cannot be loaded after?

A solution I can think of would be to implement Mode

[2022-08-16 15:36] mkrecek234 commented on #1052
@mvorisek Just some further food for discussion to make uses cases a bit clearer:

1. Let's say a user has restricted access to only some customer entities - e.g., he is an account manager for business and not end customers:
`$customerModel->addCondition('customer_group_id', 1); // may not access any other group`

2. He now filters his customer list showing customers which he flagged as important:

[2022-08-17 14:08] mkrecek234 opened #1053 "Assert data are unchanged during save"
Use case: You have code which updates the total sum of an order. Now the customer adds an order position with price = 0.
You don't want to deal with it but just save the new total (which is identical to the old total).

Steps to reproduce:
1) You have any model $model with an entity id=1, total_amount =100
2) You do `$model->load(1)->save(['total_amount' => 100]);

You will get this error in recen

[2022-08-17 14:49] mvorisek commented on #1053
it would be great if you can add a simple model code

[2022-08-17 15:07] mkrecek234 commented on #1053
Just save a value to any model entity which is already saved, so conceptually:
[code]
(sure this is not realistic - but can well be that code will save a newly calculated field which is identical to a stored value. And that is perfectly fine, no need for Exception.

[2022-08-17 20:07] mvorisek commented on #1052
skipping (allowing to skip) whole scope is wrong and should not be part of the framework, so no `Model::dangerouslySaveWithoutScope`, this is not possible also because there are more save methods, and we would need to implement all methods for such feature

however, your can achive that by creating a new model (and loading it) like you posted in the chat or maybe even easier by:

⚠️ this following

[2022-08-17 20:24] mkrecek234 commented on #1053
@mvorisek Sorry for the abbreviated example - I tried to reproduce myself. The error was there when I did the following:
[code]

If this is helpful for you, we can keep the issue, otherwise we just close it.

[2022-08-17 20:29] mkrecek234 commented on #1052
@mvorisek That sounds practical to me and very logical. Any other thoughts from the community @DarkSide666 eventually?
What about the idea of weak conditions (so we would not completely clear all conditions, but safely only the ones which are not critical)? So not all scope is cleared?

We should definitely then store those four lines of code above in a separate saveWeakly or saveOutOfScope functi

[2022-08-17 20:36] mvorisek commented on #1053
Thanks for the repro code. I will repro on my side and double check the exception. Aggregated fields should never be allowed to set in the first place and maybe we can throw an exception earlier.

[code]

this exception is "last resort" - it prevented you from doiing something nasty correctly

[2022-08-18 03:58] mkrecek234 commented on #1053
No, in this example I do not set an aggregate field: I create aggregate fields (see they are notes _pos at the end) to calculate the sum of the positions.

This sum then is stored into a simple field in the orderdoc.

This works always fine, only if you save the identical sum over the already saved one gives you that error. The error says that 1 expected row to be affected but 0 rows changed which

[2022-08-18 04:15] mkrecek234 commented on #1053
Here is the screencast - you see that the two perform differently - the lookup returns 0 instead of null.
![image](https://user-images.githubusercontent.com/28671486/185292364-430fbad9-d187-4701-9897-185829fcb55b.png)

[2022-08-19 10:25] mvorisek commented on #1053
I still do not understand the repro steps fully.

@mkrecek234 Please post here a simple model /w one aggregate field and simple use of it, which throws the exception.

[2022-08-23 15:26] mkrecek234 commented on #1053
@mvorisek I haven't yet achieved to write nice repro code but I analysed it further. The circumstance leading to this error is:
1. The database was configured to store 10,2 decimals while Atk4/Data is calculating always with 4 digits.
2. When storing a value for example 100.0213 over an old value of 100.02 the error will arise (and this is great that it highlights it) - the database will not affec

[2022-08-23 15:52] mkrecek234 commented on #1053
P.S. This happens also if your database is configured NOT to allow NULL values for a specific field, this field has stored a `0` and you remove the `0` in Atk4/Ui and Save. This would lead Atk4/Data to store `null` in the database where the database converts it into `0` for a non nullable field and thus no rows were affected by the update - and Atk4/Data will throw an Exception.

So to summarize f

[2022-08-23 19:11] mvorisek commented on #1053
Yes, a lot of work is done to detect such data mismatches.

I am reopening, as when we read the data after save (insert/update), we can even assert all values are stable, ie. not changed by the DB like rounding or null->empty.

[2022-08-23 19:31] mkrecek234 commented on #1053
@mvorisek Let me explain how to reproduce:

1) You have a table with three fields in your MySQL database:
- id (AUTOINCREMENT)
- amount (DECIMAL 13,2 - so 2-digit precision)
- intvalue (INTEGER, Do not allow null)

Lets's assume there is a record with id=1 which has the following stored values:

Amount=13.02 and intvalue=0

Now you have a model which is defined in this way:
- Amount (atk4_money)
-

[2022-08-23 19:45] mvorisek commented on #1053
The repro steps/issue is clear since your previous comment.

The `Update failed, exactly 1 row was expected to be affected` exception was generated as you probably had some unstable value as a condition. I renamed this issue do detect such problem for all fields, not only these used in a condition.

[2022-08-25 17:26] mkrecek234 commented on #967
Reopening as in Discord discussion. Also see branch https://github.com/atk4/data/tree/save_wo_scope

[2022-08-25 20:16] mvorisek commented on #967
I am closing this issue. We can discuss it under your PR. No need for 2 places.

[2022-08-25 20:16] #967 closed, assigned to nobody

[2022-09-05 09:34] mkrecek234 opened #1065 "Storing boolean value in a non-defined/string field"
Steps to reproduce:
1. Create model with field: $model->addField('generic_field')
2. Save a boolean value to that field $model->createEntity()->save(['generic_field' => true]).

Result:
Exception Field must not be boolean

Behaviour before = Expected behaviour: Was typecasted to null or 1 automatically.

[2022-09-05 18:39] mvorisek commented on #1065
The fields are strictly typed and if type is null, `string` type is implied for BC.

Given this fact, the exception seems correct to me. Can we close this issue or why `true` should imply `null` or `1`?

[2022-09-05 18:44] mkrecek234 commented on #1065
Before boolean was stored as "1" (true) or null (false) if stored in string field, now it throws an exception. Shouldn't it store as before?

[2022-09-05 18:46] mvorisek commented on #1065
Wdym by store?

In php, we store it natively - `true` / `false`, in database, we store it by `1` / `0`. Everything seems to be correct to me, working and tested.

[2022-09-05 18:51] mkrecek234 commented on #1065
Will try to make repro code - I saved a false value to a string field, and got "must not be boolean" as an exception. However, if you save a false boolean value to a string field it should convert it to null, shouldn't it? And true should be saved as 1 in a string field.

[2022-09-05 18:55] mvorisek commented on #1065
No, it should not, it is a type error. Other people will open an issue `false` is not converted to `0`... You have the rights to reopen this issue in case you have some new evidence, but the problem you reported here is known & wanted behaviour.

[2022-09-05 18:55] #1065 closed, assigned to nobody

[2022-09-05 19:03] mkrecek234 commented on #1065
This then is a BC break, as it was automagically converted before, wasn't it? I like automatic type conversions, but am fine either way. And I don't care if false is converted to "0" or null in a string, all fine.

[2022-09-05 19:04] mvorisek commented on #1065
Probably some fixed bug :)

[2022-09-12 12:55] abbadon1334 opened #1067 "ContainsXxx throw Exception if stored value != null"
Example code
[https://gist.github.com/abbadon1334/313e166efb598b8a416d6241c62ddbbb](https://gist.github.com/abbadon1334/313e166efb598b8a416d6241c62ddbbb)

if ContainsOne or ContainsMany fields in persistence are not null and an exception is raised :
Critical Error
Atk4\Data\ValidationException: ContainsXxx does not support unmanaged data modification

in Crud ContainsOne/ContainsMany must be not v

[2022-09-12 13:03] mvorisek commented on #1067
an atk4/ui issue?

[2022-09-12 13:06] abbadon1334 commented on #1067
too many things done together

[2022-09-12 13:06] #1067 closed, assigned to nobody

[2022-09-12 13:47] mvorisek commented on #1067
was reopened again as https://github.com/atk4/ui/issues/1860

(@abbadon1334 next time we can move the original issue instead)

[2022-10-01 09:34] mvorisek commented on #662
as mentioned in https://github.com/atk4/data/issues/662#issuecomment-663545433, we need to check if definitive definitely :)

the current design seems to work well, but the problem is when a condition is removed, is this is wanted to be fully supported, we should track the default/system changes from definitive conditions and revert if the conditions are removed. Complicated, but removed condition

[2022-11-09 09:15] mkrecek234 opened #1076 "atk4_money cannot be set to zero"
Steps to reproduce:
1. Model with a field of type 'atk4_money', e.g.
`'price_net' => ['type' => 'atk4_money', 'required' => false]`

2. Setting e.g. in a crud the field to "0" (zero) results in a validation error "Must not be a boolean type".

[2022-11-09 09:27] #1076 closed, assigned to nobody